:root {
  --border-radius: 10px;
  --header-font: "Ubuntu", sans-serif;
  --body-font: "Playfair Display", serif;
  --primary-color:rgb(182, 205, 189, 0.6);
  --secondary-color:rgb(242, 249, 241, 0.6);
}
body {
  background-color: rgb(210, 216, 218);
}

.developer-spotlight,
.work-spotlight {
  background-color: var(--primary-color);
}
.general-header {
  margin-top: 75px;
  text-align: center;
}
.about-content {
  margin: 30px;
  line-height: 1.5;
}
.project-spotlight {
  background-color: var(--secondary-color);
}
.card-container {
  line-height: 2;
}
.developer-spotlight,
.project-spotlight,
.work-spotlight {
  margin: 50px auto;
  padding: 25px;
  border-radius: var(--border-radius);
}
.profile-pic {
  max-width: 50%;
}
.about-pic {
  max-width: 75%;
}
.bio,
.contact-info {
  margin: auto;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 15px;
}
.contact-info p {
  text-align: center;
  font-size: 18px;
}
.contact-info a {
  text-decoration: none;
}
.profile-pic,
.about-pic {
  display: block;
  margin: 5px auto;
  border-radius: var(--border-radius);
}
.generator,
.photography,
.weather,
.hiking,
.worldclock,
.billy-goat,
.food-culture {
  max-width:100%;
}
.developer-spotlight,
.project-spotlight h1, h2,
h3,
h5 {
  text-align: center;
}
.developer-spotlight h1,
h5 {
  margin-top: 10px;
}
.developer-spotlight a {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
.work-button a {
  display: block;
  margin: 25px auto;
  max-width: 50%;
}
h3,
p {
  font-family: var(--body-font);
}
h1,h2,
h5 {
  font-family: var(--header-font);
}
.icon {
  font-size: 45px;
  display: block;
  text-align: center;
  color: blue;
  transition: all 300ms ease-in-out;
}
.icon:hover {
  transform: scale(1.5);
}
footer .consultation-box{
  background-color:var(--primary-color);
  border-radius: var(--border-radius);
  padding:30px 120px;
}
footer .consultation-box h5{
  font-size: 30px;
}
footer .consultation-box a{
  margin-top: 20px;
  margin-right: 40px;
}
footer .email-link{
  text-decoration:none;
  text-align:center;
  font-size: 24px;
  color:black;
  font-family: var(--body-font);
}
footer .footer-links a{
  margin:0 20px;
  color:blue;
  background-color:var(--secondary-color);
  padding:10px 12px;
  border-radius:50%;
  font-size: 18px;
  text-decoration: none;
  transition:all 150ms ease-in-out;
}
footer p a{
  text-decoration: none;
}
footer .footer-links a:hover{
color:white;
background-color: var(--primary-color);
}
footer .email-link:hover{
  text-decoration: underline;
}
@media (max-width: 500px) {
  .developer-spotlight h3,
  h5 {
    font-size: 18px;
  }
  .developer-spotlight,
  .project-spotlight p {
    text-align: center;
  }
  .work-button a {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .developer-spotlight {
    margin-bottom: 10px;
  }
  .project-spotlight {
    margin-top: 0;
  }
  .about-pic {
    margin-bottom: 20px;
  }
  .bio {
    text-align: center;
  }
}
